sudo: required
services:
  - docker
before_install:
  - openssl aes-256-cbc -K $encrypted_db86a1236df7_key -iv $encrypted_db86a1236df7_iv -in k8s-training-282821-7d4b04cbd195.json.enc -out k8s-training-282821-7d4b04cbd195.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file service-account.json
  - gcloud config set project k8s-training-282821
  - gcloud config set compute/zone europe-west1-b
  - gcloud container clusters get-credentials k8s-training-cluster
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t austanin/react-test -f ./client/Dockerfile.dev ./client
script:
  - docker run -e CI=true austanin/react-test npm run test